services:
  nginx:
    image: nginx:alpine
    container_name: loyalty_nginx
    ports:
      - "${API_PORT}:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    networks:
      - loyalty_network

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: loyalty_php
    volumes:
      - ./:/var/www/html
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_CHARSET: ${DB_CHARSET}
      APP_ENV: ${APP_ENV}
      API_KEY: ${API_KEY}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS}
    networks:
      - loyalty_network

  db:
    image: mysql:8.4
    container_name: loyalty_db
    command: ["--character-set-server=${DB_CHARSET}", "--collation-server=${DB_COLLATION_SERVER}"]
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
    networks:
      - loyalty_network

volumes:
  db_data:

networks:
  loyalty_network:
    driver: bridge